<div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 row-eq-height">
    <div class="card" style="width: 100%">
        <lable for="EthioianDate" class="card-header text-center" style="background-image: linear-gradient(#90ee90,#ffffe0,#ffffe0,#e87171);color: black;">
            Ethiopian Date
        </lable>
        <div class="card-body">
            <div class="form-inline" id="EthioianDate">
                <input v-model="ethCalMon" type="number" class="form-control" id="EthMonthScroll" min="1" max="13" style="width:3em;padding-left:2px;padding-right:0;">
                /
                <input v-model="ethCalDate" type="number" class="form-control" id="EthDayScroll" min="1" max="30" style="width:3em;padding-left:2px;padding-right:0;">
                /
                <input v-model="ethCalYear" type="number" class="form-control" id="EthYearScroll" min="-99999" max="999999" style="width:4em;padding-left:2px;padding-right:0;">
            </div>
            <p style="width:100%;">{{ ethCalText }}</p>
            <span class="help-block" style="width:100%;">
                Change the date above to convert to European calendar.
            </span>
        </div>
    </div>
</div>