<div class="container" style="padding: 2em;">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card" style="width: 100%">
                <p class="lead text-center" style="margin-top: 1rem" id="ethTodayTextArea">
                    Today in Ethiopian Calendar is 
                    <span v-cloak>
                        <strong style="font-weight:bold">{{ ethTodayDateText }}</strong>
                        {{ ethTodayTimeText }}
                    </span>
                    <span v-if='false'>...loading...</span>
                    <button type="button" class="btn btn-sm" id="refreshEthDateButton" v-if="! liveRefreshEnabled">
                        <strong style="font-size: x-large">⟳</strong>
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>