<!doctype html>
<html class="no-js" lang="en">
    <head>
${require('html-loader?interpolate!./html/head.html')}
${require('html-loader?interpolate!./html/ads.html')}
<% for(var i=0; i < htmlWebpackPlugin.files.css.length; i++) {%>
    <link href="<%= htmlWebpackPlugin.files.css[i] %>" rel="stylesheet">
<% } %>
    </head>
    <body>
        <noscript>
            <div class="container">
                <div class="card" style="width: 100%">
                    <strong>You have javascript disabled in your browser. Please enable javascript to use the application.</strong>
                </div>
            </div>
        </noscript>
        <main>
            ${require('html-loader?interpolate!./html/TodayInEthiopianCalendar.html')}
            <div class="container">
                <div class="row" id="CalendarConverter">
${require('html-loader?interpolate!./html/EuropeanDate.html')}
${require('html-loader?interpolate!./html/EthiopianDate.html')}
                </div>
            </div>
        </main>
        <footer>
${require('html-loader?interpolate!./html/social.html')}
        </footer>
        <% for(var i=0; i < htmlWebpackPlugin.files.js.length; i++) {%>
<script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[i] %>"></script>
        <% } %>
        <% if(process.env.NODE_ENV == 'production'){ %>
${require('html-loader!./html/serviceWorkerRegister.html')}
${require('html-loader!./html/analytics.html')}
        <% } %>
    </body>
</html>
