name: build mobile

on:
  push:
    branches: [main, master]
    tags:
      - 'v*.*.*'
    paths:
      - mobile/**
      - .github/workflows/release-mobile.yml
  pull_request:
    paths:
      - mobile/**
      - .github/workflows/release-mobile.yml
  workflow_dispatch:

# Allow one concurrent deployment
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  mobile-build-test:
    runs-on: ubuntu-latest

    # Sets permissions of the GITHUB_TOKEN to allow release
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: '0'

      - uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Use Node.js 24.x
        uses: actions/setup-node@v6
        with:
          node-version: 24.x
          cache: 'pnpm'

      - name: pnpm install
        run: pnpm install
        env:
          CI: true

      - name: build
        run: pnpm build

      - run: pnpm run sync:android && pnpm run update:android
        working-directory: ./mobile

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3
        with:
          log-accepted-android-sdk-licenses: false

      - name: Build Android App
        run: ./gradlew --no-daemon build && ./gradlew --no-daemon bundleRelease
        working-directory: ./mobile/android

      - uses: actions/upload-artifact@v5
        with:
          name: app-debug.apk
          path: mobile/android/app/build/outputs/apk/debug/app-debug.apk
          retention-days: 7
          if-no-files-found: error
      - uses: actions/upload-artifact@v5
        with:
          name: app-release-unsigned.apk
          path: mobile/android/app/build/outputs/apk/release/app-release-unsigned.apk
          retention-days: 2
          if-no-files-found: error

      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: mobile/android/app/build/outputs/apk/debug/app-debug.apk
          name: ${{ github.ref_name }}
